* {
    box-sizing: border-box;
  }
  
  ul {
    padding-left: 1.5rem;
  }
  
  body {
    font-family: franklin-gothic-condensed, sans-serif;
    color: #550000;
    background-color: #f0ebe6;
    margin: 0 auto;
    max-width: 1000px;
  }

  h1, h2, h3, h4, h5, h6 {
      margin: 0;
  }
  
  .item {
    padding: 8px;
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid #3a3a3a;
    background-color: #f0efef;

  }
  
  .height-50 {
    height: 50vh;
  }

#container {
    display: grid;
    height: 100vh;
    gap: 20px;
    grid-template-rows: auto;
    grid-template-areas: "header" "nav" "latest" "latest2" "latest3" "aside" "footer";    
}

.header {
    grid-area: header;
    font-style: italic;
}

.header h1 {
    margin: 15px 0 0 0;
    font-size: 64px;
}

.navigation {
    grid-area: nav;
    padding: 0;
    border: none;
    background: none;
}

#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid #3a3a3a;
    background-color: #f0efef;

}

#main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
}

#main-nav a {
    padding: 10px;
    text-decoration: none;
    color: #550000;
}


.latest {
    grid-area: latest;
    color: #3a3a3a;
}

.latest2 {
    grid-area: latest2;
    color: #3a3a3a;
}

.latest3 {
    grid-area: latest3;
    color: #3a3a3a;
}

.aside {
    grid-area: aside;
    color: #3a3a3a;
}

#side-news-list {
    list-style-type: none;
}

footer {
    grid-area: footer;
}

footer ul {
    list-style-type: none;
}

@media (min-width: 720px) {
    #container {
        /* grid-template-rows: auto auto 1fr 1fr auto; */
        grid-template-rows: auto;
        grid-template-areas:
        "header header header"
        "nav nav nav"
        "latest latest aside"
        "latest2 latest3 aside"
        "footer footer footer";
    }
}

@media (min-width: 1020px) {
    #container {
        /* grid-template-rows: auto auto 1fr 1fr auto; */
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "latest latest aside"
        "latest2 latest3 aside"
        "footer footer footer";
    }
}

